{% extends 'template/base.html' %}


{% block title%}ChatGPT & LineBot 賴學習{% endblock %}


{% block main %}

<br>
<br>
<br>
<h1>
  <strong>聯絡我們</strong>
</h1>
<br>

<table class="table">
  <tbody>
      <th scope="col">          </th>
      <th scope="col">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">請輸入您的email，我們將會與您聯絡。</label>
            <input type="email" placeholder="您的email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="任何想說的..." id="floatingTextarea"></textarea>
            <label for="floatingTextarea">感謝您提供的寶貴想法！</label>
          </div>
          <button type="submit" class="btn btn-outline-dark">送出</button>
        </form>
      </th>
      <th scope="col">          </th>
  </tbody>
</table>

{% endblock %}
